body{ 
  display:flex; 
  flex-direction:column; 
}

body{ 
  height:100vh;
  margin:0; 
}

header{ 
  min-height: 20px; 
  background: rgba(251,201,70,255); 
}

footer{ 
  min-height: 50px; 
  background: rgba(82,161,189,255); 
}

main{
  margin: auto;
}

.logo-box{
  text-align: center;
  max-height: 50px;
}

.logo{
  max-width: 55%;
}

.box{
  text-align: center;
  margin: 30px;
}

.qr-code-box{
  margin-bottom: 15%;
}


.image-box{
  max-width: 160px;
  max-height: 160px;
}

.btn{
  background-color: rgba(241,240,240,255);
  color: rgba(13,21,28,255);
  margin-top: 8%;
}

.qr-code-btn{
  padding: 5px 45px 5px 45px;
}

.login-btn{
  padding: 5px 60px 5px 60px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (max-width: 1024px) {
  .logo{
    max-width: 100%;
  }
  .logo-box{
    max-height: 20px;
  }
  .image-box{
    max-width: 250px;
    max-height: 250px;
  }

  .qr-code-btn{
    padding: 5px 85px 5px 85px;
  }
  
  .login-btn{
    padding: 5px 85px 5px 85px;
  }
}


@media only screen and (max-width: 540px) {
  .logo{
    max-width: 100%;
  }
  .logo-box{
    max-height: 20px;
  }
  .image-box{
    max-width: 180px;
    max-height: 180px;
  }

  .qr-code-btn{
    padding: 5px 55px 5px 55px;
  }
  
  .login-btn{
    padding: 5px 68px 5px 68px;
  }
}

@media only screen and (max-width: 350px) {
  .logo{
    max-width: 100%;
  }
  .logo-box{
    max-height: 20px;
  }
  .image-box{
    max-width: 120px;
    max-height: 120px;
  }

  .qr-code-btn{
    padding: 5px 25px 5px 25px;
  }
  
  .login-btn{
    padding: 5px 40px 5px 40px;
  }
}